@keyframes logo_show {
    from {
        /* width: 150px; */
        width: 12%;
        top: 120%;
        right: 50%;
        transform: translate(50%, -100%);
    }

    20% {
        /* logo arrived */
        top: 50%;
    }

    58% {
        /* logo start */
        width: 12%;
        top: 50%;
        right: 50%;
        transform: translate(50%, -100%);
    }

    80% {
        width: 5%;
        top: 1%;
        right: 1%;
        transform: translate(0, 0);
    }
}

@keyframes logo_name_show {
    from {
        opacity: 0;
        top: 50%;
    }

    18% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
        top: 50%;
    }
}

@keyframes show_all {
    from {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }
}

/* lecture: tablet 768px ~ 1100px */
@media screen and (max-width: 1100px) {}

@media screen and (max-width: 768px) {
    @keyframes logo_show {
        from {
            /* width: 150px; */
            width: 24%;
            top: 120%;
            right: 50%;
            transform: translate(50%, -100%);
        }

        20% {
            /* logo arrived */
            top: 50%;
        }

        58% {
            /* logo start */
            width: 24%;
            top: 50%;
            right: 50%;
            transform: translate(50%, -100%);
        }

        80% {
            width: 10%;
            top: 2%;
            right: 2%;
            transform: translate(0, 0);
        }
    }
}